*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

[class*="col-"]{
    /* height: 50px; */
    /* border: 1px solid black; */
    margin-bottom: 5px;
    
}
.mynav-container{
    width: 100%;
    background-color: #2c3e50;
}
.my-container{
    max-width: 768px;
}

.settings-header{
    background-color: rgb(28, 212, 22);
 
}
#jumbotron{
    width: 100%;
    background-color: #1abc9c;
    margin-bottom: 5px;
}
/* .settings-jumbo{
   
         DEBUG
    background-color: #0e3a31;



} */
#logo-img{
    min-height: 250px;
    display: flex;
    margin: 10px 0;
}
.avatar-img{
    max-width: 200px;

}
.line-star{
    display: flex;
    margin: 20px 0;
}
header section .row h5{
    
    margin: 0.5rem 0 40px 0;
}
/* .h1, h1{
    font-size: 3.5rem;
} */
/* .h5, h5 {
    font-size: 1.5rem;
    
} */
[class*=ms-line]{
    width: 16%;
    height: 4px;
    border-radius: 14%;
    
    margin: 0 20px;
}
.ms-line-white{
    background-color: white;
}
.ms-line-black{
    background-color:#2c3e50 ;
}
.ms-text-settings{
    color: white;
}
.ms-text-settings-black{
    color: #2c3e50;
}
#portfolio img{
    max-width: 100%;
    margin: 10px 0;
    border-radius: 10px;
}

/* .settings-main{
    background-color: #d16d33;
    min-height: 150px;
    

} */
.my-container-about{
    max-width: 576px;
}

#about{
    width: 100%;
    background-color: #1abc9c;
}
.h3-text-white{
    color: white;
    margin-top:40px;

}
.p-text{
    color: white;
    margin: 0 1.5rem 2rem;

}
.settings-about-button{
    /* background-color: #7dc4e0; */
margin-bottom: 40px;

}

.settings-title-portfolio{
    /* background-color: crimson; */
    margin-top: 20px;
    display: flex;
}
.settings-contact{
    background-color: #f0d53b;


}
#info{
    width: 100%;
    background-color: #3a546d;
}
.settings-info{
    background-color: #9b2e8c;
 
    
}
#copyright{
    width: 100%;
    background-color: #2c3e50;
}
